[bumpversion]
current_version = 1.2.0
commit = True
tag = True
tag_name = v{new_version}

[bumpversion:file:pcapsipdump.h]

[bumpversion:file:redhat/pcapsipdump.spec]
search = Version:        {current_version}
replace = Version:        {new_version}
